/**
  |============================
  | Стилізація Header-у
  |============================
*/

.header {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    

    @media screen and (max-width: 767px){
        flex-grow: 1;
    }
}


.main-nav__menu-button {
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px){
        display: none; 
    }

}

.main-nav__icon-close {
    display: none;

    .main-nav__menu-button.is-open & {
        display: block;
    }

}

.main-nav__menu-button.is-open .main-nav__icon-menu {
    display: none;
}